<div class="panel panel-default">
  <div class="panel-heading">
    <p class="text-center">Inbuilt Pipes</p>
  </div>
  <div class="panel-body">
    {{ product | uppercase }} : {{ price | currency: "EUR" : true }}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <p class="text-center">inbuilt-pipes.component.html</p>
  </div>
  <div class="panel-body">
    <textarea class="code" rows="1" wrap="off" readonly>
    { { product | uppercase } } : { { price | currency: "EUR" : true } }
    </textarea>
  </div>
</div>