<div class="panel panel-default">
  <div class="panel-heading">
    <p class="text-center">View and Behaviour of Model Driven From </p>
  </div>
  <div class="panel-body">

    <form class="form-horizontal" [formGroup]="modelDrivenForm" (ngSubmit)="consoleUser()">

      <div [class]="username.pristine ? 'row form-group' : username.valid ? 'row form-group has-success' : 'row form-group has-error'">
        <label class="col-xs-2 control-label" for="username">Username</label>
        <div class="col-xs-5">
          <input class="form-control" type="text" name="username" id="username" [formControl]="username">
        </div>
        <div *ngIf="username.invalid && username.dirty" class="alert alert-sm alert-danger col-xs-4 text-center">
          <em class="glyphicon glyphicon-info-sign"></em> username is required
        </div>
        <div *ngIf="username.valid" class="alert alert-sm alert-success alert-xs col-xs-1 text-center">
          <em class="glyphicon glyphicon-ok"></em>
        </div>
      </div>

      <div [class]="password.pristine ? 'row form-group' : password.valid ? 'row form-group has-success' : 'row form-group has-error'">
        <label class="col-xs-2 control-label" for="password">Password</label>
        <div class="col-xs-5">
          <input class="form-control" type="password" name="password" id="password" [formControl]="password">
        </div>
        <div *ngIf="password.invalid && password.dirty" class="alert alert-sm alert-danger col-xs-4 text-center">
          <em class="glyphicon glyphicon-info-sign"></em>
          <span *ngIf="password.hasError('required')"> password is required</span>
          <span *ngIf="password.hasError('minlength')"> minimum 4 characters</span>
        </div>
        <div *ngIf="password.valid" class="alert alert-sm alert-success alert-xs col-xs-1 text-center">
          <em class="glyphicon glyphicon-ok"></em>
        </div>
      </div>

      <button class="btn btn-info col-xs-offset-2" type="submit" [disabled]="!modelDrivenForm.valid">Log In</button>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <p class="text-center">Template-Driven Form Template, Component and Module</p>
  </div>
  <div class="panel-body">
    <div>

      <ul class="nav nav-pills nav-justified" role="tablist">
        <li role="presentation" class="active"><a href="#template" aria-controls="template" role="tab" data-toggle="tab">Template</a></li>
        <li role="presentation"><a href="#component" aria-controls="component" role="tab" data-toggle="tab">Component</a></li>
        <li role="presentation"><a href="#module" aria-controls="module" role="tab" data-toggle="tab">Module</a></li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="template">
          <h3 class="h3-sm">Model-Driven Form Template (model-driven.component.html)</h3>
          <textarea class="code" rows="34" wrap="off" readonly>
    <form class="form-horizontal" [formGroup]="modelDrivenForm" (ngSubmit)="consoleUser()">

      <div [class]="username.pristine ? 'row form-group' : username.valid ? 'row form-group has-success' : 'row form-group has-error'">
        <label class="col-xs-2 control-label" for="username">Username</label>
        <div class="col-xs-5">
          <input class="form-control" type="text" name="username" id="username" [formControl]="username">
        </div>
        <div *ngIf="username.invalid && username.dirty" class="alert alert-sm alert-danger col-xs-4 text-center">
          <em class="glyphicon glyphicon-info-sign"></em> username is required
        </div>
        <div *ngIf="username.valid" class="alert alert-sm alert-success alert-xs col-xs-1 text-center">
          <em class="glyphicon glyphicon-ok"></em>
        </div>
      </div>

      <div [class]="password.pristine ? 'row form-group' : password.valid ? 'row form-group has-success' : 'row form-group has-error'">
        <label class="col-xs-2 control-label" for="password">Password</label>
        <div class="col-xs-5">
          <input class="form-control" type="password" name="password" id="password" [formControl]="password">
        </div>
        <div *ngIf="password.invalid && password.dirty" class="alert alert-sm alert-danger col-xs-4 text-center">
          <em class="glyphicon glyphicon-info-sign"></em>
          <span *ngIf="password.hasError('required')"> password is required</span>
          <span *ngIf="password.hasError('minlength')"> minimum 4 characters</span>
        </div>
        <div *ngIf="password.valid" class="alert alert-sm alert-success alert-xs col-xs-1 text-center">
          <em class="glyphicon glyphicon-ok"></em>
        </div>
      </div>

      <button class="btn btn-info col-xs-offset-2" type="submit" [disabled]="!modelDrivenForm.valid">Log In</button>
    </form>
          </textarea>
        </div>

        <div role="tabpanel" class="tab-pane" id="component">
          <h3 class="h3-sm">Model-Driven Form Component (model-driven.component.ts)</h3>
          <textarea class="code" rows="32" wrap="off" readonly>
      import { Component, OnInit } from '@angular/core';
      import { Validators, FormBuilder, FormControl, FormGroup } from '@angular/forms';

      @Component({
        selector: 'app-model-driven',
        templateUrl: './model-driven.component.html',
        styleUrls: ['./model-driven.component.scss']
      })
      export class ModelDrivenComponent implements OnInit {
        username = new FormControl('', [Validators.required]);
        
        password = new FormControl('', [
          Validators.required,
          Validators.minLength(4)
        ]);

        modelDrivenForm: FormGroup = this.builder.group({
          username: this.username,
          password: this.password
        });

        constructor(private builder: FormBuilder) { }

        consoleUser () {
          console.log(this.modelDrivenForm.value);
        }

        ngOnInit() {
        }

      }
          </textarea>
        </div>
        <div role="tabpanel" class="tab-pane" id="module">
          <h3 class="h3-sm">Form Module (forms.module.ts)</h3>
          <textarea class="code" rows="25" wrap="off" readonly>
    import { NgModule } from '@angular/core';
    import { CommonModule } from '@angular/common';
    import { ReactiveFormsModule } from '@angular/forms';

    import { SharedModule } from '../../shared/shared.module';

    import { FormsRoutingModule } from './forms-routing.module';

    import { HomeComponent } from './home/home.component';
    import { TemplateDrivenComponent } from './template-driven/template-driven.component';
    import { ModelDrivenComponent } from './model-driven/model-driven.component';


    @NgModule({
      imports: [
        CommonModule,
        SharedModule,
        ReactiveFormsModule,
        FormsRoutingModule
      ],
      declarations: [HomeComponent, TemplateDrivenComponent, ModelDrivenComponent]
    })
    export class FormsModule { }
          </textarea>
        </div>
      </div>

    </div>
  </div>
</div>