/* You can add global styles to this file, and also import other style files */
@import './assets/styles/colors.scss';
@import './assets/styles/variables.scss';

.panel-heading{
    p{
        margin-top: 10px;
        font-size: 16px;
    }
}

div.alert-sm{
    padding: 6px;
    margin-bottom: 0;
}

.code{
    width: 100%;
    border: 0;
    border-top: 1px solid #ddd;
}

h3.h3-sm{
    font-size: 18px;
}

.glyphicon-sort{
    cursor: pointer;
}